<p>
    VOCALENDAR に登録したいイベントはありませんか？
</p>

<%= button_to 'イベントを登録', new_submission_path, :method => :get %>

<% if !@new_subs.blank? %>
<h3>登録処理待ちのイベント</h3>

<%= render_list @new_subs, :columns => [:id, :category, :title, :created_at] %>

<%= will_paginate @new_subs %>
<% end %>

<h3>最近登録されたイベント</h3>
<p>
※ここから登録されたものだけが表示されています。
</p>
<%= render_list @accepted_subs, :columns => [:id, :category, :title, :created_at, :accepted_at] %>
