<%-
time_fmt = "%Y-%m-%d %H:%M:%S"
-%>
<h2>登録申請の一覧
<% if params[:category_id] %>
  (<%= Category.find(params[:category_id]).try(:name) %>)
<% end %>
<% if params[:status_id] %>
  (<%= I18n.t("status_names.#{Submission.status_id[params[:status_id]]}") %>)
<% end %>
</h2>

<%= render_list @submissions, :enable_filter_link => true, :datetime_format => "%Y-%m-%d %H:%M:%S" %>

<%= will_paginate @submissions %>
