<section id='leader'>
<h1>イベント 連絡フォーム</h1>
<p class="attention">いつもVOCALENDARをご利用いただきありがとうございます。VOCALENDARに未掲載の情報や、情報に変更があったイベント、間違って掲載されている情報の訂正などは、こちらの連絡フォームに必要事項を入力のうえ、VOCALENDARへご連絡ください。編集メンバーがVOCALENDARへ登録させていただきます。なお、登録には数日を要しますので、この点はご了承くださいませ。</p>
<p><span class="required-mark">*</span> マークは必須入力項目です。</p>
</section>

<section>
<%= render 'form' %>

</section>

