a.action-button {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc #999 #999 #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0.3em 0.9em;
  margin: 0px 0.1em;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffffff,EndColorStr=#ffdddddd); zoom:1;
  background: -moz-linear-gradient(top, #fff, #ddd);
  background: -o-linear-gradient(top, #fff, #ddd);
  background: linear-gradient(top, #fff, #ddd);
  line-height: 1.3em;
  white-space: nowrap;
  color: blak;
  display: inline-block; /* for IE... */
}
a.action-button:hover {
  color: black;
}
a.action-button:visited {
  color: black;
}
a.action-button:active {
  background: -webkit-gradient(linear, left top, left bottom, to(#fff), from(#ddd));
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,EndColorStr=#ffffffff,StartColorStr=#ffdddddd); zoom:1;
  background: -moz-linear-gradient(top, #ddd, #fff);
  background: -o-linear-gradient(top, #ddd, #fff);
  background: linear-gradient(top, #ddd, #fff);
}
