body { padding: 0; margin: 0; }
#wrapper { position: relative; padding: 1em; }

#main-content {
  position: relative;
  display: block;
  margin: 20px 20px;
  padding: 40px;
  background-color: #fcfcf9;
  border: 1px solid #c7c2b4;
  box-shadow: 0px 0px 10px #ccc;
}

#header-menu {
  border-bottom: 1px solid #999;
  background-color: #eee;
  font-size: 86%;
  padding: 1px 1em;
  margin: 0;
  text-align: right;
  a { margin: 0 1px; padding: 2px 8px; border-left: 1px solid #ccc; }
}

table p { margin-top: 0; }

.field_with_errors {
  background-color: #FF9C44;
  display: inline;
  display: inline-block;
}

h1, h2, h3, h4, h5 { color: #108361; }
h1#main-title {
  text-align: right;
  margin-top: 0;
  font-size: 130%;
  background-color: #108361;
  padding: 0.4em;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  a, a:active, a:hover, a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
}

.submission-detail, .category-detail {
  border: none;
  td, th { border: none; }
  th { text-align: right; vertical-align: top; white-space: nowrap; font-weight: bold; }
}

table.general-hor {
  width: 90%;
  margin-left: 5%;
  border-collapse: collapse;
  th, td { padding: 1em 0.8em; }
  th { text-align: left; color: #108361; border-bottom: 2px solid #66b178; }
  td { border-bottom: 1px solid #ccc; }
  tr:hover td { color: black; background-color: #EDFFF0; }
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

.status {
  a:hover, a:visited, a:active { background-color: inherit;}
}

.status-new, .status-new:hover, .status-new:visited { color: #ED943D }
.status-accepted, .status-accepted:hover, .status-accepted:visited { color: inherit; }
.status-rejected, .status-rejected:hover, .status-rejected:visited { color: #7F1C84 }
.status-spam, .status-spam:hover, .status-spam:visited { color: #84511C }

.btn-inline {
  display: inline-block;
  vertical-align: bottom;
}
.main-submit-button {
  text-align: center;
}


/*** 登録フォームCSS ***/
#vocalendar_eventform {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border: 2px solid rgb(218,218,218);
  background-image: url(http://vocalendar.jp/images/vocalendar-submit-illust.jpg);
  background-position: right bottom;
}
.VEPforms {
  background-color: white;
}
.VEPforms th,
.VEPforms td {
  text-align: left;
  height: 3em;
  padding: 0 20px;
  vertical-align: middle;
  border-bottom: 2px solid rgb(218,218,218);
}
.lastrow th,
.lastrow td {
  border-bottom: none;
}
.VEPforms th {
  width: 120px;
  border-right: 2px solid rgb(218,218,218);
}
.VEPforms td {
  border-right: 2px solid rgb(218,218,218);
}
.VEPforms label {
  font-size: 16px;
  font-weight: bold;
  color: #8C6900;
}
.VEPtextform {
  background-color: white;
}
.VEPtextform input {
  padding: 0.5em 0em !important;
  border: none !important;
  background: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  font-size: 18px !important;
  color: #666;
  width: 400px;
}
.VEPtextform textarea {
  margin: 0;
  padding: 0.5em 0em !important;
  border: none !important;
  background: none !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  font-size: 18px !important;
  color: #666;
  width: 400px;
  resize: none;
  font-size: 14px !important;
  line-height: 150%;
}
:-ms-input-placeholder { color: #ddd; }
:-moz-input-placeholder { color: #ddd; }
::-webkit-input-placeholder { color: #ddd; }

.calendricalDatePopup {
  width: auto !important;
}
.calendricalDatePopup th,
.calendricalDatePopup td {
  text-align: left;
  height: auto;
  padding: 0;
  vertical-align: middle;
  border-bottom: 2px solid rgb(218,218,218);
}
.VEPsubmit td {
  text-align: left;
  height: 4em;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border-right: 2px solid rgb(218,218,218);
background: #40ad1f; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQwYWQxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjg5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #40ad1f 0%, #228900 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#40ad1f), color-stop(100%,#228900)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #40ad1f 0%,#228900 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #40ad1f 0%,#228900 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #40ad1f 0%,#228900 100%); /* IE10+ */
background: linear-gradient(to bottom,  #40ad1f 0%,#228900 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ad1f', endColorstr='#228900',GradientType=0 ); /* IE6-8 */
}
#VEPsubmitBtn {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0px;
  background: none !important;
  border: none;
  font-size: 20px;
}